/*서울더빛소개*/

#sub_banner{
    padding: 300px 0 0;
    background: url(../images/sub1_main.jpg) no-repeat center top fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/*메뉴*/
#s1tab{
    width: 1400px;
    margin: 200px auto 100px;
}
#s1tab ul{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#s1tab ul li{
    float: left;
}
#s1tab ul li a{
    color: #333;
    border: 1px solid #333;
    padding: 10px 30px;
    display: block;
    font-size: 20px;
}
#s1tab ul li .on{
    background: #333;
    color: #fff;
    font-weight: 600;
}
#s1tab ul li:hover a{
    background: #333;
    color: #fff;
    font-weight: 600;
}

/*본문*/
.s1main_inner{
    width: 1400px;
    margin: 200px auto;
    position: relative;
}
.s1main_inner img{
    display: block;
    margin: auto;
}
.s1main_inner img:nth-child(1){
    margin-bottom: 50px;
}
.br_499{
    display: none;
}

/*링크*/
#link{
    width: 1400px;
    margin: 100px auto 200px;
}
#link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
#link ul li{
    float: left;
    width: 49%;
    margin-bottom: 3%;
}
#textArea{
    display: none;
}
#link ul li a{
    display: block;
}
#link ul li:nth-child(1) a{
    padding: 0;
    border: 0px;
}
#link ul li a img{
    display: block;
    width: 70%;
    margin: auto;
}
#link ul li a img:nth-child(2){
    display: none;
}
#link button{
    display: block;
    cursor: pointer;
    display: block;
    border: 0px;
    background: #fff;
}

@media (max-width: 1399px){
    #sub_banner{
        padding-top: 200px;
    }
    #s1tab{
        width: 100%;
        margin: 100px auto;
    }
    #s1tab ul{
        width: 800px;
    }
    .s1main_inner{
        width: 80%;
    }
    #link{
        width: 80%;
    }
}

@media (max-width: 1023px){
    #s1tab{
        margin: 100px auto 100px;
    }
    #s1tab ul{
        width: 550px;
    }
    #s1tab ul li a{
        font-size: 16px;
        padding: 5px 15px;
    }
    .s1main_inner{
        margin: 0 auto;
    }
    #link{
        margin: 0 auto 100px;
    }
}

@media (max-width: 767px){
    #s1tab{
        margin: 20px auto 100px;
    }
    #s1tab ul{
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-around;
    }
    #s1tab ul li{
        width: 40%;
        margin: 0 1% 5% 0;
    }
    #s1tab ul li a{
        font-size: 14px;
        padding: 5px 5px;
    }
    .s1main_inner{
        width: 100%;
        margin: 50px auto;
    }
    #link{
        width: 300px;
        margin: 150px auto 100px;
    }
    #link ul li{
        width: 25%;
        margin-bottom: 10%;
    }
    #link ul li a img{
        width: 60%;
    }
    #link ul li a img:nth-child(1){
        display: none;
    }
    #link ul li a img:nth-child(2){
        display: block;
    }
}

@media (max-width: 499px){
    #sub_banner{
        padding-top: 150px;
    }
    #s1tab{
        margin: 10px auto 100px;
    }
    #s1tab ul li{
        width: 45%;
    }
    #s1tab ul li a{
        line-height: 18px;
    }
    .br_499{
        display: block;
    }
    #link{
        width: 200px;
    }
    #link ul li{
        margin-bottom: 10%;
    }
    #link ul li a img{
        width: 70%;
    }
    #s1tab ul li .padding{
        padding: 14px 0;
    }
}